/* 
    Document   : style
    Created on : Sep 26, 2011, 4:16:05 PM
    Author     : poedjex
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
